*{margin: 0;
    	padding: 0;
    	list-style: none;
    	text-decoration: none;
    }
.thitem{
	
	float:left;
	width:170px;
	text-align:center;
}
.thitemChildren{
	line-height:100px;
	float:left;
	width:170px;
	height:100px;
	text-align:center;
}